/* Insert VARTHEME_BS5_SUBTHEME custom Mixins. */
/**
 * Place the custom mixin in the "scss/mixins" directory.
 * Import the mixin in this file. So that it will be imported in all scss files.
 **/
.list-group__link {
  padding: 0.5rem 0 0;
  border-top: 1px solid #dee2e6;
}

.list-group__description {
  margin: 0 0 0.5rem;
}
