// Vartheme custom variables
// -----------------------------------------------------------------------------

// Card's default h3 title font size.
$card-xlarge-title-font-size: 2rem;
$card-large-title-font-size: 1.8rem;
$card-medium-title-font-size: 1.4rem;
$card-small-title-font-size: 1.4rem;
$card-xsmall-title-font-size: 1.2rem;

// Overlay Card default styles.
$overlay-card-title-color: #fff;
$overlay-card-xlarge-title-font-size: 4rem;
$overlay-card-content-color: #fff;
$overlay-card-content-stop1-location: 65%;
$overlay-card-content-stop1-color: transparent;
$overlay-card-content-stop2-location: 105%;
$overlay-card-content-stop2-color: #000;
$overlay-card-content-hover-opacity: 0.9;

// Hero Card default styles.
$hero-card-title-color: #fff;
$hero-card-xlarge-title-font-size: 3rem;
$hero-card-content-hover-opacity: 0.7;
$hero-card-content-background-color1: rgb(0,0,0);
$hero-card-content-background-color2: rgba(0,0,0,0.7);

// Custom Varbase Hero slider media variables.
// -----------------------------------------------------------------------------

// Text color.
$hero-title-text-color: #fff;
$hero-brief-text-color: #fff;
$hero-link-text-color: #fff;

// Font sizes with responsive sizes.
$hero-xlarge-title-font-size-xs: 3.3rem;
$hero-xlarge-title-font-size-sm: 3.3rem;
$hero-xlarge-title-font-size-md: 57px;
$hero-xlarge-title-font-size-lg: 57px;
$hero-xlarge-title-font-size-xl: 57px;

// Hero content style.
$hero-content-hover-opacity: 0.7;
$hero-content-background-color1: rgb(0,0,0);
$hero-content-background-color2: rgba(0,0,0,0.3);

// Empty hero background color.
$hero-empty-view-background: #e0e0e0;

// Gutter for arrow of navigation.
$hero-arrow-gutter: 0.63rem;

// Height for screen size and less.
$hero-min-height: 300px;
$hero-max-height: 300px;

// For screen size sm and more.
$hero-min-height-sm: 400px;
$hero-max-height-sm: 400px;

// For screen size md and more.
$hero-min-height-md: 600px;
$hero-max-height-md: 600px;

$hero-container-v-padding: 60px;
$hero-container-h-padding-sm: 150px;
