.navbar {
  height: 5.25rem;
  background: var(--bs-white);
}

.navbar .form-inline .form-actions {
  display: none;
}

.navbar .navbar-nav .nav-item a.nav-link {
  position: relative;
  color: var(--bs-gray-900);
  font-weight: bold;
}

.navbar .navbar-nav .nav-item a.nav-link:hover,
.navbar .navbar-nav .nav-item a.nav-link:focus,
.navbar .navbar-nav .nav-item a.nav-link:active {
  color: var(--bs-primary) !important;
}

.navbar .navbar-nav .nav-item a.nav-link:hover:after,
.navbar .navbar-nav .nav-item a.nav-link:focus:after,
.navbar .navbar-nav .nav-item a.nav-link:active:after {
  position: absolute;
  right: 15% !important;
  bottom: 0;
  left: 15% !important;
  height: 1px;
  content: "";
  transition: left 0.3s;
  transition: right 0.3s;
  background-color: var(--bs-primary);
}

[dir="rtl"] .navbar .navbar-nav .nav-item a.nav-link:hover:after,
[dir="rtl"] .navbar .navbar-nav .nav-item a.nav-link:focus:after,
[dir="rtl"] .navbar .navbar-nav .nav-item a.nav-link:active:after {
  transition: left 0.3s;
}

.navbar .navbar-nav .nav-item a.nav-link.is-active:after {
  position: absolute;
  right: 30%;
  bottom: 0;
  left: 30%;
  height: 1px;
  content: "";
  background-color: var(--bs-primary);
}

[data-bs-theme="dark"] .navbar {
  background: rgb(7.8, 66, 151.8);
}

[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link {
  position: relative;
  color: var(--bs-white);
}

[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link:hover,
[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link:focus,
[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link:active {
  color: var(--bs-white) !important;
}

[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link:hover:after,
[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link:focus:after,
[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link:active:after {
  position: absolute;
  right: 15% !important;
  bottom: 0;
  left: 15% !important;
  height: 1px;
  content: "";
  background-color: var(--bs-white);
}

[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link.is-active:after {
  position: absolute;
  right: 30%;
  bottom: 0;
  left: 30%;
  height: 1px;
  content: "";
  background-color: var(--bs-white);
}

[data-bs-theme="dark"] .navbar .navbar-nav .nav-item a.nav-link.is-active {
  border-bottom: 1px var(--bs-white);
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal .toolbar-menu.nav {
  float: left;
}

[dir="rtl"] .toolbar-horizontal .toolbar-menu.nav {
  float: right;
}
