.site-footer section.region-footer > * {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
  font-size: 0.65rem;
}
@media screen and (min-width: 992px) {
  .site-footer section.region-footer > * {
    flex: 1 0 0;
  }
}
.site-footer .menu--footer ul.nav {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
