{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - attributes: Drupal attributes.
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - navbar_expand: sm | md | lg | xl
 * - utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}

{% set container = container == 'fixed' ? 'container' : false %}
{% set placement = placement ?? '' %}
{% set color = color ?? 'light' %}
{% set navbar_expand = navbar_expand ?? 'lg' %}
{% set classes = [
  'navbar',
  'navbar-expand-' ~ navbar_expand,
  'justify-content-between',
  'navbar-' ~ color,
  'bg-' ~ color,
  placement
]|merge(utility_classes) %}

<nav{{attributes.addClass(classes)}}>
  {% if container %}
    <div class="{{ container }}">
  {% endif %}

  {% block branding %}
    {{ branding }}
  {% endblock %}

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    {% block navigation %}
      {{ navigation }}
    {% endblock %}
  </div>

  {% if container %}
    </div>
  {% endif %}
</nav>
