{#
/**
 * @file
 * Template for the main page.
 * Available config:
 *  - is_front: true | false -> to determine if page is front or not
 */
#}

<div class="page d-flex flex-column">

  {% include "varbase_components:page-header" %}

  <main class="mb-3">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div role="main" class="main-container container">
      <div class="row justify-content-center">
        <div id="auth-box" class="reset-password col-10 col-sm-7 col-lg-5 col-xl-4">
          <div id="top-part">
            {% include 'varbase_components:heading' with {
                html_tag: 'h1',
                content: 'Reset password'|t
              } only
            %}
          </div>
          <div id="middle-part">
            {% if logged_in %}
              {% include 'varbase_components:page-better-login' with { without_blocks: logged_in_without_blocks } %}
            {% else %}
              {% include 'varbase_components:page-better-login' with { without_blocks: not_logged_in_without_blocks } %}
            {% endif %}
            {{ page.content }}
          </div>
          <div id="bottom-part">
            <div class="back-link">
              <a href="{{ url('<front>') }}"><i class="fas fa-home" aria-hidden="true"></i> {{ 'Back to'|t }}  {{ site_name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include "varbase_components:page-footer" %}

</div>
