**/*.min.js
**/gulpfile.js
**/bootstrap
**/node_modules
drupalci.yml
**/drupalci.yml
js/bootstrap/*.js
js/bootstrap_barrio/*.js
js/misc/*.js
VARTHEME_BS5_SUBTHEME/*.min.js
VARTHEME_BS5_SUBTHEME/gulpfile.js
VARTHEME_BS5_SUBTHEME/bootstrap
VARTHEME_BS5_SUBTHEME/node_modules
VARTHEME_BS5_SUBTHEME/js/bootstrap/*.js
VARTHEME_BS5_SUBTHEME/js/bootstrap_barrio/*.js
