{#
/**
 * @file
 * Template for a button component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - outline: true | false
 * - tag: button, a, input
 * - value: string
 * - attributes: Attributes array.
 */
#}
{% set button_classes = [
  'btn',
  (type ? 'btn-' ~ type),
]|merge(button_utility_classes) %}

<button{{ attributes.addClass(button_classes) }}>
  {% block button_content %}
    {{ button_content }}
  {% endblock %}
</button>


