.remote-video-media-wrapper {
  position: relative;
  width: fit-content;
}

.thumb-wrapper {
  position: absolute;
  top: 0;
}

.thumb-wrapper::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  content: "";
  transform: translate(-50%, -50%);
  background-image: url(../../../../assets/images/play.svg);
}

.thumb-wrapper:hover {
  cursor: pointer;
}
