{#
/**
 * @file
 * Template for a Page Header component.
 *
#}

{% if page.top_bar %}
  <div class="navbar-top w-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{ page.top_bar }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if page.navbar_branding or page.navigation %}
  {% embed 'varbase_components:navbar' with {
    placement: '',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block navigation %}
      {% if page.navigation %}
        <div class="ms-auto">
          {{ page.navigation }}
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endif %}