.breadcrumb {
  --bs-breadcrumb-padding-x: .0625rem;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-font-size: 1rem;
  --bs-breadcrumb-bg:  ;
  --bs-breadcrumb-border-radius:  ;
  --bs-breadcrumb-divider-color: var(--bs-secondary-color);
  --bs-breadcrumb-item-padding-x: .5rem;
  --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

[dir="ltr"] .breadcrumb-item + .breadcrumb-item {
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

[dir="rtl"] .breadcrumb-item + .breadcrumb-item {
  padding-right: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "\f285");
}

[dir="ltr"] .breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
}

[dir="rtl"] .breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item.active {
  color: var(--bs-breadcrumb-item-active-color);
}

.breadcrumb .breadcrumb-item {
  color: var(--bs-dark);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--bs-dark);
}

[data-bs-theme=dark] .breadcrumb .breadcrumb-item {
  color: var(--bs-light);
}

[data-bs-theme=dark] .breadcrumb-item + .breadcrumb-item::before {
  color: var(--bs-light);
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: "bootstrap-icons";
  font-size: 1.1rem;
  font-weight: 500;
  content: "\f285";
}

[dir=rtl] .breadcrumb-item + .breadcrumb-item::before {
  content: "\f285";
}

