{#
/**
 * @file
 * Template for a Footer component.
 *
#}

{% set classes = [
  'w-100'
]|merge(utility_classes ?? []) %}

<div class="{{ classes|join(' ') }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
