{#
/**
 * @file
 * Template for a Footer component.
 *
#}

<footer class="page-footer bg-light py-3 mt-auto w-100 small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-top d-flex justify-content-md-between align-items-md-center">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</footer>
