.varbase-text-card.anchor-all {
  position: relative;
}

.varbase-text-card.anchor-all .text-card-content {
  position: static;
}

.varbase-text-card.anchor-all .card-title {
  position: static;
}

.varbase-text-card.anchor-all .card-title a {
  position: static;
}

.varbase-text-card.anchor-all .card-title a::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  content: "";
}

.varbase-text-card.anchor-all a.card-link,
.varbase-text-card.anchor-all div.card-link > a {
  position: static;
}

.varbase-text-card.anchor-all a.card-link::before,
.varbase-text-card.anchor-all div.card-link > a::before {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  content: "";
}

.varbase-text-card.anchor-all a {
  position: relative;
  z-index: 3;
}

.varbase-text-card.border-0 .text-card-content {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.varbase-text-card.bordered .text-card-content {
  margin: 0;
  padding: 0;
}
