.taxonomy {
  letter-spacing: 0.125rem;
  border-radius: 0.125rem;
  padding-block: 0.125rem;
  padding-inline: 0.25rem;
}

.taxonomy:hover {
  color: var(--bs-white);
  background-color: var(--bs-secondary);
}

.taxonomy:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.125rem rgba(var(--bs-secondary-rgb), 0.4);
}

.taxonomy-lg {
  font-size: 0.875rem;
}

.taxonomy-sm {
  font-size: 0.75rem;
}
