
@import "../../defaults";   // Global component defaults.

// Override default bootstrap accordion variables.
$accordion-padding-y: 0.9375rem;
$accordion-padding-x: 0.9375rem;
$accordion-border-width: 1px;
$accordion-border-color: var(--bs-primary);
$accordion-border-radius: 0.125rem;
$accordion-inner-border-radius: subtract($accordion-border-radius, $accordion-border-width) !default;

$accordion-body-padding-y: $accordion-padding-y;
$accordion-body-padding-x: $accordion-padding-x;

$accordion-button-padding-y: $accordion-padding-y;
$accordion-button-padding-x: $accordion-padding-x;
$accordion-button-active-bg: var(--#{$prefix}primary-bg-subtle) !default;
$accordion-button-active-color: var(--#{$prefix}primary-text-emphasis) !default;

$accordion-button-focus-border-color: var(--bs-primary);
$accordion-button-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);

$accordion-icon-width: 0.9375rem;

@import "../../../node_modules/bootstrap/scss/accordion";

// Change default bootstrap accordion style.
.accordion {
  .accordion-item {
    margin-block-start: 1.25rem;

    &:first-of-type {
      margin-block-start: 0;
    }

    &:not(:first-of-type) {
      border-block-start: $accordion-border-width solid $accordion-border-color;
    }
  }

  .accordion-button {
    font-weight: 700;
    background-color: $accordion-bg;
    box-shadow: none;
    text-align: start;

    &.collapsed {
      background-color: $accordion-bg;
    }

    &::after {
      margin-inline-start: auto;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--bs-accordion-active-bg);
      box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    }
  }
}

// Canvas slot alignment fixes.
.accordion-body--canvas {
  display: block;
  inline-size: 100%;
}

.accordion-body__content {
  inline-size: 100%;
  min-inline-size: 0;

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.accordion-body--canvas-empty {
  padding-block: 0;
  padding-inline: 0;

  > .accordion-body__content {
    padding-block: var(--bs-accordion-body-padding-y);
    padding-inline: var(--bs-accordion-body-padding-x);
  }
}
