.btn.btn-md {
  --bs-btn-padding-y: 0.9375rem;
  --bs-btn-padding-x: 1.5625rem;
  --bs-btn-font-size: 1.125rem;
}

.btn.btn-lg {
  --bs-btn-padding-y: 1.25rem;
  --bs-btn-padding-x: 1.875rem;
  --bs-btn-font-size: 1.25rem;
}

.btn.btn-sm {
  --bs-btn-padding-y: 0.625rem;
  --bs-btn-padding-x: 0.9375rem;
  --bs-btn-font-size: 0.875rem;
}