footer.footer {
  color: var(--bs-white);
  background-color: rgb(7.8, 66, 151.8);
}

footer.footer a {
  text-decoration: none;
  color: var(--bs-white);
}

footer.footer a:hover,
footer.footer a:focus,
footer.footer a:active {
  text-decoration: underline;
  color: var(--bs-white);
}

footer.footer p a {
  text-decoration: underline;
}

footer.footer p a:hover,
footer.footer p a:focus,
footer.footer p a:active {
  transition: -webkit-text-decoration 0.4s;
  transition: text-decoration 0.4s;
  transition:
    text-decoration 0.4s,
    -webkit-text-decoration 0.4s;
  text-decoration: none;
}

footer.footer .footer-logo-image {
  height: 1.88rem;
}

.sitemap-menu .nav-item a.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--bs-white);
}

.sitemap-menu .nav-item a.nav-link:hover,
.sitemap-menu .nav-item a.nav-link:focus,
.sitemap-menu .nav-item a.nav-link:active {
  color: var(--bs-white);
}

.sitemap-menu .nav-item a.nav-link:hover:after,
.sitemap-menu .nav-item a.nav-link:focus:after,
.sitemap-menu .nav-item a.nav-link:active:after {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  width: 2.4rem !important;
  height: 1px;
  content: "";
  transition: width 0.3s;
  background-color: var(--bs-white);
}

[dir="rtl"] .sitemap-menu .nav-item a.nav-link:hover:after,
[dir="rtl"] .sitemap-menu .nav-item a.nav-link:focus:after,
[dir="rtl"] .sitemap-menu .nav-item a.nav-link:active:after {
  right: 0;
  left: auto;
}

.sitemap-menu .nav-item a.nav-link.is-active:after {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  width: 1.3rem;
  height: 1px;
  content: "";
  background-color: var(--bs-white);
}

[dir="rtl"] .sitemap-menu .nav-item a.nav-link.is-active:after {
  right: 0;
  left: auto;
}

.social-media-menu-icons li.nav-item > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  text-decoration: none;
  letter-spacing: -9999px !important;
  color: var(--bs-white);
  font-size: 0 !important;
  line-height: 0 !important;
}

.social-media-menu-icons li.nav-item > a::before {
  display: inline-block;
  margin: 0;
  letter-spacing: normal;
  color: var(--bs-white);
  font-size: 1.5rem;
}

.social-media-menu-icons li.nav-item > a:hover,
.social-media-menu-icons li.nav-item > a:focus,
.social-media-menu-icons li.nav-item > a:active {
  text-decoration: none;
}

.social-media-menu-icons li.nav-item > a:hover::before,
.social-media-menu-icons li.nav-item > a:focus::before,
.social-media-menu-icons li.nav-item > a:active::before {
  color: rgb(206.6, 226, 254.6);
}

.social-media-menu-icons li.nav-item > a:hover:after,
.social-media-menu-icons li.nav-item > a:focus:after,
.social-media-menu-icons li.nav-item > a:active:after {
  display: none;
}
