{#
/**
 * @file
 * Template for a Page Footer component.
 *
#}

{% if page.footer_top or page.footer_bottom %}
  <footer class="footer small w-100 bg-light mt-auto py-3">
    {% if page.footer_top %}
      <div class="w-100 footer-top">
        {% if container_footer_top %}
        <div class="{{ container_footer_top }}">
        {% endif %}
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-md-between align-items-md-center">
                 {{ page.footer_top}}
              </div>
            </div>
          </div>
        {% if container_footer_top %}
        </div>
        {% endif %}
      </div>
    {% endif %}

    {% if page.footer_bottom %}
      <div class="w-100 footer-bottom">
        {% if container_footer_bottom %}
        <div class="{{ container_footer_bottom }}">
        {% endif %}
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-md-between align-items-md-center">
                {{ page.footer_bottom }}
              </div>
            </div>
          </div>
        {% if container_footer_bottom %}
        </div>
        {% endif %}
      </div>
    {% endif %}

  </footer>
{% endif %}

