footer.footer {
  background-color: rgb(7.8, 66, 151.8);
  color: var(--bs-white);
}

footer.footer a {
  color: var(--bs-white);
  text-decoration: none;
}

footer.footer a:hover, footer.footer a:focus, footer.footer a:active {
  color: var(--bs-white);
  text-decoration: underline;
}

footer.footer p a {
  text-decoration: underline;
}

footer.footer p a:hover, footer.footer p a:focus, footer.footer p a:active {
  transition: -webkit-text-decoration .4s;
  transition: text-decoration .4s;
  transition: text-decoration .4s, -webkit-text-decoration .4s;
  text-decoration: none;
}

footer.footer .footer-logo-image {
  height: 1.88rem;
}

.sitemap-menu .nav-item a.nav-link {
  position: relative;
  color: var(--bs-white);
  text-decoration: none;
}

.sitemap-menu .nav-item a.nav-link:hover, .sitemap-menu .nav-item a.nav-link:focus, .sitemap-menu .nav-item a.nav-link:active {
  color: var(--bs-white);
}

.sitemap-menu .nav-item a.nav-link:hover:after, .sitemap-menu .nav-item a.nav-link:focus:after, .sitemap-menu .nav-item a.nav-link:active:after {
  position: absolute;
  content: "";
  top: 80%;
  transition: width .3s;
  width: 2.4rem !important;
  height: 1px;
  bottom: 0;
  background-color: var(--bs-white);
}

[dir="ltr"] .sitemap-menu .nav-item a.nav-link:hover:after, [dir="ltr"] .sitemap-menu .nav-item a.nav-link:focus:after, [dir="ltr"] .sitemap-menu .nav-item a.nav-link:active:after {
  left: 0;
}

[dir="rtl"] .sitemap-menu .nav-item a.nav-link:hover:after, [dir="rtl"] .sitemap-menu .nav-item a.nav-link:focus:after, [dir="rtl"] .sitemap-menu .nav-item a.nav-link:active:after {
  right: 0;
}

.sitemap-menu .nav-item a.nav-link.is-active:after {
  position: absolute;
  content: "";
  top: 80%;
  width: 1.3rem;
  height: 1px;
  bottom: 0;
  background-color: var(--bs-white);
}

[dir="ltr"] .sitemap-menu .nav-item a.nav-link.is-active:after {
  left: 0;
}

[dir="rtl"] .sitemap-menu .nav-item a.nav-link.is-active:after {
  right: 0;
}

.social-media-menu-icons li.nav-item > a {
  overflow: hidden;
  text-indent: -9999px;
}

.social-media-menu-icons li.nav-item > a::before {
  text-indent: 0;
}

[dir="ltr"] .social-media-menu-icons li.nav-item > a::before {
  float: left;
}

[dir="rtl"] .social-media-menu-icons li.nav-item > a::before {
  float: right;
}

.social-media-menu-icons li.nav-item > a:hover, .social-media-menu-icons li.nav-item > a:focus, .social-media-menu-icons li.nav-item > a:active {
  color: rgb(206.6, 226, 254.6);
  text-decoration: none;
}

.social-media-menu-icons li.nav-item > a:hover:after, .social-media-menu-icons li.nav-item > a:focus:after, .social-media-menu-icons li.nav-item > a:active:after {
  display: none;
}

