{#
/**
 * @file
 * Template for a button component.
 *
 * Available config:
 * - color: primary | secondary | success | danger | warning | info | dark | light | link
 * - outline: true | false
 * - content: string
 * - size: btn-sm | btn-md
 * - attributes: Attributes array.
 * - utility_classes: An array of utility classes.
 */
#}

{% set button_color = '' %}

{% if outline == true %}
  {% set button_color = 'btn-outline-' ~ color %}
{% else %}
  {% set button_color = 'btn-' ~ color %}
{% endif %}

{% set size = size ? size : '' %}
{% set disabled = disabled ? 'disabled' : '' %}

{% set classes = [
  'btn',
  button_color,
  size,
  disabled,
]|merge(utility_classes) %}

<button {{ attributes.addClass(classes) }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</button>
