.varbase-featured-card .card-title {
  margin-top: 0;
}

.varbase-featured-card.anchor-all {
  position: relative;
}

.varbase-featured-card.anchor-all .card-title {
  position: static;
}

.varbase-featured-card.anchor-all .card-title a {
  position: static;
}

.varbase-featured-card.anchor-all .card-title a::before {
  position: absolute;
  content: "";
  display: block;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.varbase-featured-card.anchor-all a.card-link,
.varbase-featured-card.anchor-all div.card-link > a {
  position: static;
}

.varbase-featured-card.anchor-all a.card-link::before,
.varbase-featured-card.anchor-all div.card-link > a::before {
  position: absolute;
  content: "";
  display: block;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.varbase-featured-card.anchor-all a {
  z-index: 3;
  position: relative;
}

