/* Insert Vartheme custom Mixins. */
/**
 * Place the custom mixin in the scss/mixins directory.
 * Import the mixin in this file. So that it will be imported in all scss files.
 **/
.breadcrumb {
  font-size: 0.875rem;
}

.region-breadcrumb {
  width: 100%;
  padding: 0 0.9375rem 0.25rem;
}
