/* Insert Vartheme custom Mixins. */
/**
 * Place the custom mixin in the scss/mixins directory.
 * Import the mixin in this file. So that it will be imported in all scss files.
 **/
tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

body div.tabledrag-changed-warning {
  margin-bottom: 0.5rem;
}
