{#
  * Row component.
  * Available config:
    - children: The content that will be inside row.
    - utility_classes: An array of classes.
#}

{% set classes = []|merge(utility_classes) %}

<div class="{{ classes|join(' ') }}">
  {% block children %}
    {{ children }}
  {% endblock %}
</div>
