{% set classes = [
  'block',
  'rich-text-block',
  'py-2',
  'px-3',
  width ?? '',
  bg_color ? 'bg-' ~ bg_color : '',
  text_color ? 'text-' ~ text_color : '',
  border_radius ? 'rounded-' ~ border_radius : ''
] %}

<{{ html_tag }} {{ attributes.addClass(classes) }}>
  {% if heading %}
    {% include "@atoms/heading/heading.twig" with {
      attributes: heading_attributes,
      tag: title_tag,
      content: heading,
      utility_classes: ['rich-heading', 'mb-2']
    } %}
  {% endif %}

  <div class="rich-body mb-2">{{ content }}</div>
</{{ html_tag }}>