{#
/**
 * @file
 * Template for a Link component.
 *
 * Available config:
 * - attributes: Drupal attributes for link.
 * - url: Link href value.
 * - title: Link title.
 * - options["attributes"]["class"]: list of additional classes.
 * - utility_classes: An array of aditional classes for link.
 */
#}

{% set link_classes = []|merge(utility_classes ?? [])|merge(options["attributes"]["class"] ?? []) %}

<a href="{{ url }}" {{ attributes.addClass(link_classes) }}>{{ title }}</a>
