// VARTHEME_BS5_SUBTHEME footer styling.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                                 // VARTHEME_BS5_SUBTHEME variables.
@import "../mixins";                                    // VARTHEME_BS5_SUBTHEME mixins.
@import "../../node_modules/bootstrap/scss/_utilities"; // Bootstrap utilities.
// -----------------------------------------------------------------------------

// Insert your VARTHEME_BS5_SUBTHEME footer custom SASS styling.

.site-footer {
  section.region-footer {
    > * {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      @include font-size(0.65rem);
      @include padding($spacer $spacer 0 $spacer);
      @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        flex: 1 0 0;
      }
    }
  }

  .menu--footer {
    ul.nav {
      display: flex;
      flex-flow: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
