// Affix effect component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                                 // VARTHEME_BS5_SUBTHEME variables.
@import "../mixins";                                    // VARTHEME_BS5_SUBTHEME mixins.
@import "../../node_modules/bootstrap/scss/_utilities"; // Bootstrap utilities.
// -----------------------------------------------------------------------------

.affix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1035;
  left: 0;
}
