// Jumbotron component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                                 // VARTHEME_BS5_SUBTHEME variables.
@import "../mixins";                                    // VARTHEME_BS5_SUBTHEME mixins.
@import "../../node_modules/bootstrap/scss/_utilities"; // Bootstrap utilities.
// -----------------------------------------------------------------------------

.jumbotron {
  padding: ($spacer * 2) $spacer;
  margin-bottom: $spacer * 2;
  color: null;
  background-color: $gray-200;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($spacer * 4) ($spacer * 2);
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
