// Tables component style.
// -----------------------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";  // Bootstrap functions.
@import "../../node_modules/bootstrap/scss/mixins";     // Bootstrap mixins.
@import "../variables";                                 // VARTHEME_BS5_SUBTHEME variables.
@import "../mixins";                                    // VARTHEME_BS5_SUBTHEME mixins.
@import "../../node_modules/bootstrap/scss/_utilities"; // Bootstrap utilities.
// -----------------------------------------------------------------------------
 
.sticky-header thead th {
  vertical-align: bottom;
  border-bottom: (2 * $table-border-width) solid $table-border-color;
}

.sticky-header th {
  @include padding($table-cell-padding-x $table-cell-padding-y);
  vertical-align: top;
  border-top: $table-border-width solid $table-border-color;
}
